.line {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.left-container {
  display: flex;
  width: 33.33%;
  flex-direction: column;
}

#plot {
  flex: 1;
  height: 100%;
}

.left {
  padding: 50px;
}

#right-container {
  display: flex;
  flex-direction: row;
  width: 66.67%;
  padding: 50px;
}

#title {
  font-family:xingkai
}

#subtitle {
  font-family:xingkai
}

@font-face {
  font-family: xingshu;
  src: url('fonts/禹卫书法行书简体.ttf')
}

@font-face {
  font-family: fzq;
  src: url('fonts/FZQINGKBYSJF.TTF')
}

@font-face {
  font-family: xingkai;
  src: url('fonts/腾祥伯当行楷简.ttf')
}