<!DOCTYPE html>
<html lang="zh-cn">

<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<head>
    <title>Ming Letters</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/5.1.2/echarts.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', v=timestamp) }}">
</head>

<body background="{{url_for('static',filename="images/background.jpeg")}}";
    style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">
    <center>
        <h1 id="title">明代书信社交网络</h1>
        <h2 id="subtitle">——中国历代人物传记数据库(CBDB)数据可视化</h2>
    </center>
    <div class="line">
        <div class="left-container">
            <div id="data-analysis">
                <div>数据统计：</div>
                <div id="data-analysis-content"></div>
            </div>
            <div id="data-select">
                <div>通过关键词检索一位作者：</div>
                <input type="text" id="authorInput" placeholder="输入关键词">
                <select id="selectAuthor">
                </select>
            </div>
            <div id="selectedNodeInfo"></div>
            <div id="selectedLetters">
                <table id="selectedLettersTable">
                    <thead>
                        <tr>
                            <th>作品标题</th>
                            <th>通讯人</th>
                            <th>通讯关系</th>
                        </tr>
                    </thead>
                    <tbody id="selectedLettersTableBody"></tbody>
                </table>
                <div id="pagination"></div>
            </div>
        </div>
        <div class="right-container">
            <div class="check-box" id="check-box-1" style="margin-bottom: 30px;">
                <label><input type="checkbox" value="致书Y">致书Y</label>
                <label><input type="checkbox" value="答Y书">答Y书</label>
                <label><input type="checkbox" value="向Y致贺">向Y致贺</label>
                <label><input type="checkbox" value="致Y啓">致Y啓</label>
                <label><input type="checkbox" value="代Y作文">代Y作文</label>
                <label><input type="checkbox" id="select-all" style="margin-left: 100px;"
                        onclick="selectAllRelations()">全选</label>
            </div>
            <div class="timeline" id="birthTimeline" style="margin-bottom: 30px; margin-left: 100px;">
                <div class="label-text">作者生年：</div>
                <!-- <div class="slider" id="birthStartSlider"></div>
                <div class="slider" id="birthEndSlider"></div> -->
                <div class="year-label" id="birthStartLabel"></div>
                <div class="year-label" id="birthEndLabel"></div>
                <div class="year-marker" id="birthStartMarker" style="top: 30px;"></div>
                <div class="year-marker" id="birthEndMarker" style="right: 0px; top: 30px;"></div>
                <div class="selection" id="birthSelection"></div>
            </div>

            <div class="timeline" id="deathTimeline" style="margin-left: 100px;">
                <div class="label-text">作者卒年：</div>
                <!-- <div class="slider" id="deathStartSlider"></div>
                <div class="slider" id="deathEndSlider"></div> -->
                <div class="year-label" id="deathStartLabel"></div>
                <div class="year-label" id="deathEndLabel"></div>
                <div class="year-marker" id="deathStartMarker" style="top: 30px;"></div>
                <div class="year-marker" id="deathEndMarker" style="right: 0px; top: 30px;"></div>
                <div class="selection" id="deathSelection"></div>
            </div>
            <div id="plot" style="margin-top: 50px;"></div>
            <div class="check-box" id="check-box-2" style="margin-top: 50px; right: 100px;">
                <label><input type="checkbox" value="寄出">寄出</label>
                <label><input type="checkbox" value="收到">收到</label>
            </div>
            <div id="plot2"></div>
        </div>
    </div>
    <script>
        var data = {{ data | tojson }};
        var filteredData = data;
    </script>
    <script src="{{ url_for('static', filename='listLetters.js', v=timestamp) }}"></script>
    <script src="{{ url_for('static', filename='main.js', v=timestamp) }}"></script>
    <script src="{{ url_for('static', filename='calculate.js', v=timestamp) }}"></script>
</body>

</html>