<!DOCTYPE html>
<html lang="zh-cn">

<head>

    <title>Ming Letters</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/5.1.2/echarts.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">     
</head>

<body>
    <center>
        <h1>明代书信社交网络——中国历代人物传记数据库(CBDB)数据可视化</h1>
    </center>
    <div class="line">
        <div class="left-container">
            <div class="left">
                <div>这里是筛选</div>
            </div>
            <div class="left">
                <div>这里是搜索</div>
            </div>
            <div class="left">
                <div>这里是数据统计</div>
            </div>
        </div>
        <div id="right-container" class="right">
            <div id="plot"></div>
        </div>
    </div>

    <script>
        var data = {{ data | tojson }};
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>