<!DOCTYPE html>
<html lang="zh-cn">

<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


<head>

    <title>Ming Letters</title>
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/5.1.2/echarts.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', v=timestamp) }}">
</head>

<body background="{{url_for('static',filename="images/background.jpeg")}}";
    style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment: fixed;">
    <center>
        <h1 id="title">明代书信社交网络</h1>
        <h2 id="subtitle">——中国历代人物传记数据库(CBDB)数据可视化</h2>
    </center>
    <div class="line">
        <div class="left-container">
            <div class="left">
                <div>这里是筛选</div>
                <div>
                    <label for="start-year">开始年份:</label>
                    <select id="start-year"></select>
                </div>
                <div>
                    <label for="end-year">结束年份:</label>
                    <select id="end-year"></select>
                </div>
                <button onclick="filterByYear()">筛选</button>
            </div>
            <div class="left">
                <div>请你利用关键字进行搜索：</div>
                <input type="text" name="search_text" id="search_text" placeholder="输入搜索内容">
                <button onclick="callSearch()">搜索</button>
            </div>
            <div class="left">
                <div>这里是数据统计</div>
            </div>
        </div>
        <div id="right-container" class="right">
            <div id="plot"></div>
        </div>
    </div>

    <script>
        var data = {{ data | tojson }};
    </script>
    <script src="{{ url_for('static', filename='main.js', v=timestamp) }}"></script>
</body>

</html>